In [144]:
import pandas as pd
import numpy
import math
import sklearn
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split #for splitting data
from sklearn.metrics import classification_report #For classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC

In [88]:
######Performing Data Analysis and Manipulation###########

In [89]:
train_df = pd.read_csv("titanic_train.csv")
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [90]:
test_df = pd.read_csv("titanic_test.csv")
test_df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,0,0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,1,1,1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,2,2,2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,3,3,3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,4,4,4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [91]:
test_df = test_df.drop(columns=['Name', 'Ticket','Cabin','PassengerId'])

In [92]:

train_df = train_df.drop(columns=['Name', 'Ticket','Cabin','PassengerId'])

In [93]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  418 non-null    int64
 1   Unnamed: 0.1  418 non-null    int64
 2   Unnamed: 0    418 non-null    int64
 3   Pclass        418 non-null    int64
 4   Sex           418 non-null    object
 5   Age           332 non-null    float64
 6   SibSp         418 non-null    int64
 7   Parch         418 non-null    int64
 8   Fare          417 non-null    float64
 9   Embarked      418 non-null    object
dtypes: float64(2), int64(6), object(2)
memory usage: 32.8+ KB

In [94]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [95]:
label_encoder = preprocessing.LabelEncoder()

#changing Sex, a categorical variable, into a numeric one
train_df["Sex"] = label_encoder.fit_transform(train_df["Sex"])

In [96]:
#changing Embarked into a numeric variable as well
train_df["Embarked"] = label_encoder.fit_transform(train_df["Embarked"])

In [97]:
train_df.info() #showing the new numeric variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

In [98]:
#changing categorical to numeric

test_df["Sex"] = label_encoder.fit_transform(test_df["Sex"])

In [99]:
test_df["Embarked"] = label_encoder.fit_transform(test_df["Embarked"])

In [100]:
test_df.info() #showing test numeric variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  418 non-null    int64
 1   Unnamed: 0.1  418 non-null    int64
 2   Unnamed: 0    418 non-null    int64
 3   Pclass        418 non-null    int64
 4   Sex           418 non-null    int64
 5   Age           332 non-null    float64
 6   SibSp         418 non-null    int64
 7   Parch         418 non-null    int64
 8   Fare          417 non-null    float64
 9   Embarked      418 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 32.8 KB

In [101]:

#####I'm not sure why train_df is giving me 0 NA's for Embarked.
#####I looked through the data and I can see at least two NA's. 
#####I saw https://stackoverflow.com/questions/64113415/df-isna-sum-is-not-working-on-titanic-dataset
#####with the same issue, and I could not get it resolved. 

train_df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [102]:
train_df["Embarked"] = train_df["Embarked"].fillna(test_df["Embarked"].median())

train_df["Age"] = train_df["Age"].fillna(train_df["Age"].median())

train_df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [103]:
test_df.isna().sum()

Unnamed: 0.2     0
Unnamed: 0.1     0
Unnamed: 0       0
Pclass           0
Sex              0
Age             86
SibSp            0
Parch            0
Fare             1
Embarked         0
dtype: int64

In [104]:
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].median())

In [105]:
test_df["Fare"] = test_df["Fare"].fillna(test_df["Fare"].median())

In [106]:
test_df.isna().sum()

Unnamed: 0.2    0
Unnamed: 0.1    0
Unnamed: 0      0
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
dtype: int64

In [107]:
#Used to predict our independent variable

independent_cols = ["Pclass", "Sex", "Age"]

In [108]:
X = train_df[independent_cols]

In [109]:
Y = train_df.Survived

In [110]:
print(Y) #our target variable. 1 = Survived; 0 = Not Survived

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [111]:
print(X) #the independent variables

     Pclass  Sex   Age
0         3    1  22.0
1         1    0  38.0
2         3    0  26.0
3         1    0  35.0
4         3    1  35.0
..      ...  ...   ...
886       2    1  27.0
887       1    0  19.0
888       3    0  28.0
889       1    1  26.0
890       3    1  32.0

[891 rows x 3 columns]

In [112]:
RANDOM_SEED = 420 #used to reproduce same data

In [113]:
#Doing a 70:30 split on the data for training and testing
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .30, random_state = RANDOM_SEED)

In [168]:
print("Printing Independent Variables for training\n\n", X_train)

print("\n\nPrinting Independent Variables for testing\n\n", X_test)

print("\n\nPrinting Dependent variables for training\n\n", Y_train)

print("\n\nPrinting Dependent variables for testing\n\n", Y_test)

Printing Independent Variables for training

      Pclass  Sex   Age
418       2    1  30.0
814       3    1  30.5
65        3    1  28.0
749       3    1  31.0
157       3    1  30.0
..      ...  ...   ...
627       1    0  21.0
799       3    0  30.0
575       3    1  19.0
390       1    1  36.0
72        2    1  21.0

[623 rows x 3 columns]


Printing Independent Variables for testing

      Pclass  Sex   Age
722       2    1  34.0
885       3    0  39.0
289       3    0  22.0
131       3    1  20.0
615       2    0  24.0
..      ...  ...   ...
195       1    0  58.0
75        3    1  25.0
793       1    1  28.0
373       1    1  22.0
60        3    1  22.0

[268 rows x 3 columns]


Printing Dependent variables for training

 418    0
814    0
65     1
749    0
157    0
      ..
627    1
799    0
575    0
390    1
72     0
Name: Survived, Length: 623, dtype: int64


Printing Dependent variables for testing

 722    0
885    0
289    1
131    0
615    1
      ..
195    1
75     0
793    0
373    0
60     0
Name: Survived, Length: 268, dtype: int64

In [115]:
#######Instantiating logistic regression model#########

logit_reg = LogisticRegression(random_state = RANDOM_SEED)

In [116]:
logit_reg.fit(X_train, Y_train)

LogisticRegression(random_state=420)

In [117]:
Y_pred = logit_reg.predict(X_test)

In [118]:
log_report = classification_report(Y_test, Y_pred)

In [119]:
print(log_report) #classification

              precision    recall  f1-score   support

           0       0.82      0.92      0.86       157
           1       0.86      0.71      0.78       111

    accuracy                           0.83       268
   macro avg       0.84      0.81      0.82       268
weighted avg       0.83      0.83      0.83       268

In [120]:
file = open("output_titanic.txt", "w")
file.write("Report for Logistic Regression is\n {}: ".format(log_report))
file.close()

In [121]:
new_pred_cols = ["Pclass", "Sex", "Age"]

In [122]:
new_logistic_pred_df = test_df[new_pred_cols]

In [123]:
#predicting on the test_df
new_predictions = logit_reg.predict(new_logistic_pred_df)

In [124]:
print(len(new_predictions))

418

In [125]:
# reading the test data set again so that the new column can be written
# into the csv 

titanic_test_df = pd.read_csv("titanic_test.csv")

In [126]:
titanic_test_df["Label_LogisticRegression"] = new_predictions #create a new column with preditions

In [127]:
titanic_test_df.to_csv("titanic_test.csv")  #writing to the test csv

In [128]:
#############End of logistic Regression Model##########

In [129]:
#############RandomForest Classifier################################

In [130]:
random_forest = RandomForestClassifier(random_state = RANDOM_SEED) #instantiate

In [131]:
random_forest.fit(X_train, Y_train)

RandomForestClassifier(random_state=420)

In [132]:
RFpredictions = random_forest.predict(X_test)

In [133]:
RFMatrix = confusion_matrix(Y_test, RFpredictions)

In [134]:
print("Random Forest Confusion Matrix: \n {}".format(RFMatrix))

Random Forest Confusion Matrix:
 [[141  16]
 [ 29  82]]

In [135]:
RF_report = classification_report(Y_test, RFpredictions)

In [136]:
print(RF_report) #classification report for Random Forest

              precision    recall  f1-score   support

           0       0.83      0.90      0.86       157
           1       0.84      0.74      0.78       111

    accuracy                           0.83       268
   macro avg       0.83      0.82      0.82       268
weighted avg       0.83      0.83      0.83       268

In [137]:
file = open("output_titanic.txt", "a")
file.write("\n\nReport for Random Forest Classifier is\n {}: ".format(RF_report))
file.close()

In [138]:
#using Pclass, Sex, Age to predict on test dataset
new_RF_pred_df = test_df[new_pred_cols]

In [139]:
new_RF_predictions = random_forest.predict(new_RF_pred_df)

In [140]:
#printing the length of new predictions; should be the same as
#test data set
print(len(new_RF_predictions))

print(new_RF_predictions) #numpy array
print(type(new_RF_predictions))

418
[0 0 1 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 1
 0 0 0 0 1 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 1 1 0 0 0
 1 1 0 1 0 1 1 0 1 0 0 0 1 0 1 1 0 0 1 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 0 1 0 0 1 1 1 1 0 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0
 1 0 1 0 0 1 1 0 1 0 0 1 1 0 1 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 1 1 0 1 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 1 0 1 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0
 1 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 1 0 0 1 0
 0 1 1 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0 1 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 0 1 1 1 0 1 0 0 0]
<class 'numpy.ndarray'>

In [141]:
#Read this separate DF so that it wouldn't conflict with the one used
#logistic regression
titanic_test_df_rf = pd.read_csv("titanic_test.csv")

In [142]:
#Added this column 
titanic_test_df_rf["Label_randomforest"] = new_RF_predictions

In [143]:
titanic_test_df_rf.to_csv("titanic_test.csv")

In [ ]:
#############End of Random Forest ML Model##########################

In [ ]:
######################SVM###########################

In [145]:
svc = SVC(random_state=RANDOM_SEED)

In [146]:
svc.fit(X_train, Y_train)

SVC(random_state=420)

In [147]:
svc_predictions = svc.predict(X_test)

In [148]:
SVCMatrix = confusion_matrix(Y_test, svc_predictions)

In [150]:
print("Support Vector Machine Confusion Matrix is: \n {}" .format(SVCMatrix))

Support Vector Machine Confusion Matrix is:
 [[153   4]
 [104   7]]

In [151]:
SVC_report = classification_report(Y_test, svc_predictions)

In [152]:
print(SVC_report)

              precision    recall  f1-score   support

           0       0.60      0.97      0.74       157
           1       0.64      0.06      0.11       111

    accuracy                           0.60       268
   macro avg       0.62      0.52      0.43       268
weighted avg       0.61      0.60      0.48       268

In [153]:
file = open("output_titanic.txt", "a")
file.write("\n\nReport for Support Vector Machine is\n {}: ".format(SVC_report))
file.close()

In [155]:
#using Pclass, Sex, Age to predict on test dataset
new_SVC_df = test_df[new_pred_cols]

In [157]:
new_SVC_predictions = svc.predict(new_SVC_df)

In [158]:
print(len(new_SVC_predictions))

print(new_SVC_predictions) #numpy array
print(type(new_SVC_predictions))

418
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0]
<class 'numpy.ndarray'>

In [162]:
titanic_test_df_svc = pd.read_csv("titanic_test.csv")

In [163]:
titanic_test_df_svc["Label_SVM"] = new_SVC_predictions

In [165]:
titanic_test_df_svc.to_csv("titanic_test.csv")